{% extends "base.html" %}
{% block content %}
<script src="/static/js/adminDashboardInteraction.js"></script>
<h2>
    {{ meetingName }}
</h2>
<div class="form-group">
    <div class="row">
        <div id="datetimepicker" class="centered"></div>
    </div>
</div>
<div>
    <button class="btn addMeetingTimeButton" onclick="addMeetingTime()">Add Meeting Time!</button>
</div>
    <ul id="meetingTimeList">
</ul>
<div>
    <h2>
        Meeting Link
    </h2>
    <input type="text" id="meetingLink" onclick="copy(this)" readonly value="{{ request.url_root }}meeting/{{ meetingKey }}"> click to copy!
    <h2>
        Admin Key (don't share this!)
    </h2>
    <input type="text" id="adminLink" onclick="copy(this)" readonly value="{{ request.url_root }}meeting/{{ meetingKey }}/admin/{{ adminKey }}"> click to copy!
</div>
{% endblock %}
