{% extends "base.html" %}
{% block content %}
<script src="/static/js/homeInteraction.js"></script>
<div class="row">
    <div class="text-center">
        <h2>Welcome to MeetingLove!</h2>
        Enter a name create your new meeting calendar:
        <form action="" method="POST" name="new-meeting" id="new-meeting">
            <input type="text" name="meetingName" onkeyup="updateNewMeeting(this.value)"><br>
            <input type="submit" class="btn" value="Make My Meeting!">
        </form>
    </div>
</div>
{% endblock %}
